

.main-content {
  padding-right: 20px;
  background-color: #131313;
}
@media  (min-width: 960px) {
  .main-content {
      margin-left: 17%;
      /* Adjust margin-left to 15% */
      width: 83%;

    }

}

.Heading {
  text-align: center;
}

.grid {
  height: 100vh;
}

.card {
  background-color: #252525;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #ffffff44;
    box-shadow: 0 0 10px #676767a0;
}

.headercard
{
  background-color: #7332b486;
  color: rgb(255, 255, 255);
  align-content: center;
  text-align: center;
  border: 2px solid #7332B4;
  border-color: #7332B4;
  border-radius: 10px;
}

.col {
  height: 12vh;
  width: 10vh;
}
.card-header {
  font-size: 2vh;
  align-items: flex-start;
  padding-left: 10px;
  color: #fff;
}
.attendingcard {
  width: 85%;
  font-size: 1.2vh;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.dot {
  visibility: hidden;
}
@media (max-width: 650px) {
  .card {
    height: 80%;
    width: 100%;
    border-radius: 5px;

  }

  .attendingcard {
    visibility: hidden;
  }
.dot {
  visibility: visible;
}

}
