<div class="main-content container">
  <div class="Heading">
    <h2>{{ Month }}</h2>
  </div>

  <ion-grid class="grid">
    <ion-row class="header ion-align-items-center row">
      <ion-col *ngFor="let header of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']" size="1.7"
        class="ion-align-items-center">
        <ion-card class="card headercard">
          <p>{{ header }}</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let week of weeks" class="ion-align-items-center row">
      <ion-col *ngFor="let day of week" size="1.7" class="ion-align-items-center col">
        <ion-card class="card" [ngClass]="{'highlight': isCurrentDay(day)}">
          <h6 class="card-header">{{ day || '&nbsp;' }}</h6>
          <ion-card class="attendingcard">Test attending</ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</div>
