  .main-content {
  margin-left: 17%;
  /* Adjust margin-left to 15% */
  width: 80%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
  overflow-y: auto;
  overflow-x: auto;
  }


#chart-area {
  border: 2px solid #323232; 
  padding: 10px;          
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
}

#chart-column {
  border: 2px solid #323232; 
  padding: 10px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;    
}

pieChartOptions .apexcharts-legend-text {
  fill: #FFFFFF;  
}

#chart-pie {
      border: 2px solid #323232; 
  padding: 10px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;  
}
h1{
  font-family: 'League Spartan';
  font-size: 45px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: underline ;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
      //border: 2px solid #323232; 
  padding: 10px;         
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
             // 0 6px 20px rgba(0, 0, 0, 0.1); 
  //border-radius: 10px;  

}
@media (max-width: 768px) {
  ion-col[size-md="4"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

}
