<div class="custom-tab-bar" *ngIf="(isMobile$ | async)">
  <div class="tab-button" routerLink="/tabs/tab1">
    <svg class="icon">
      <polygon points="15,5 30,30 0,30"></polygon>
    </svg>
    <span class="label">Tab 1</span>
  </div>
  <div class="tab-button" routerLink="/tabs/tab2">
    <svg class="icon">
      <ellipse cx="15" cy="20" rx="15" ry="10"></ellipse>
    </svg>
    <span class="label">Tab 2</span>
  </div>
  <div class="tab-button" routerLink="/tabs/tab3">
    <svg class="icon">
      <rect x="0" y="10" width="30" height="20"></rect>
    </svg>
    <span class="label">Tab 3</span>
  </div>
</div>
