<div class="custom-tab-bar" *ngIf="(isMobile$ | async)">
  <button class="tab-button" routerLink="/tabs/tab1">
    <ion-icon size="large" name="search-outline"></ion-icon>
    <span class="label">Explore</span>
  </button>
  <button class="tab-button" routerLink="/tabs/tab1">
    <ion-icon size="large" name="bookmark-outline"></ion-icon>
    <span class="label">Saved</span>
  </button>
  <button (click)="navpage('/home')"  class="tab-button" routerLink="/tabs/tab2">
    <ion-icon size="large" name="home-outline"></ion-icon>
    <span class="label">Home</span>
  </button>
  <button class="tab-button" routerLink="/calender">
    <ion-icon size="large" name="calendar-clear-outline"></ion-icon>
    <span class="label">Calender</span>
  </button>
  <button class="tab-button" routerLink="/tabs/tab3">
    <ion-icon size="large" name="calendar-clear-outline"></ion-icon>
    <span class="label">Profile</span>
  </button>
</div>
