.main-content {
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  /* Allow vertical scrolling when needed */
}

@media (min-width: 960px) {
  .main-content {
    margin-left: 17%;
    width: 83%;
  }
}

.Heading {
  text-align: center;
}

.grid {
  height: 100%;
}

.card {
  background-color: #2525256f;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #ffffff44;
  box-shadow: 0 0 5px #676767a0;
}

.headercard {
  background-color: #7332b486;
  color: rgb(255, 255, 255);
  align-content: center;
  text-align: center;
  border: 2px solid #7332B4;
  border-radius: 10px;
}

.col {
  height: calc(100vh / 7);
  /* Adjust height based on viewport */
  width: 100%;
}

.card-header {
  font-size: 2vh;
  align-items: flex-start;
  padding-left: 10px;
  color: #fff;
}

.attendingcard {
  width: 85%;
  height: 1.7vh;
  font-size: 1.3vh;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 2px;
}

.dot {
  visibility: hidden;
}

@media (max-width: 650px) {
  .card {
    height: 80%;
    width: 100%;
    border-radius: 5px;
  }

  .attendingcard {
    visibility: hidden;
  }

  .dot {
    visibility: visible;
  }
}

.highlight {
  background-color: #3e004986;
  /* Choose a color that suits your design */
  color: white;
  border: 2px solid #7332B4;
}
