.main-content {
  margin-left: 17%;
  /* Adjust margin-left to 15% */
  width: 83%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */

  overflow-y: scroll;

  height: auto;
}

h1{
  font-family: 'League Spartan';
  font-size: 45px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: underline ;
}
.wrapper{
  display: flex;
  padding:15px;
  width: 100%;
  min-height: 20vh;
}
.filewrapper{
  border: 1px solid #ffffff;
}

.box{
  max-width: 800px;
  background: #121212;
  padding: 30px;
  width: 100%;
  border-radius:10px;
  border: #999 solid 2px;
}
.upload-area-title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;

}
.ai-title {
  text-align: start;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 4%;
  margin-top: 40px;

}
.uploadlabel{
  width: 100%;
  min-height: 100px;
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed white;
  cursor: pointer;
}
.uploadlabel span{
  font-size: 70px;
  color: white;
}
.uploadlabel p{
  color: gray;
  font-size: 20px;
  font-weight: 800;
}
.uploaded{
  margin: 30px 0;
  font-size: 16px;
  font-weight: 700;
  color:gray;
}
.showfilebox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 15px;
  box-shadow: #000000 0px 0px 0px 1px inset;
  border: 1px solid #ffffff;
}
.showfilebox .left{
  display:flex;
  align-items : center;
  flex-wrap: wrap;
  gap: 10px;

}
.filetype{
  background: white;
  color: black;
  padding: 5px 15px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 3px;
}
.left h3{
  font-weight: 600;
  font-size: 18px;
  color: gray;
  margin: 0;
}
.right span{
  background: white;
  color: gray;
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}


.description-textarea {
  flex-grow: 1;
  border: #999 solid 2px;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  margin-left: 4%;
  resize: none;
  outline: none;
  height: 360px;
  font-size: 16px;
  font-family: inherit;
  width: 600px;
  background-color: #121212;
  border-radius:10px;
}

.description-textarea::placeholder {
  color: #999;
}

.emoji-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.emoji-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

ngx-emoji-mart {
  position: absolute;
  bottom: 50px;
  right: 10px;
}



label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 580px;
  height: 50px;
  margin-left: 4%;
  border-radius:50px 0 0 50px;

}

button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 0 50px 50px 0;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #777;
}

textarea {
  flex-grow: 1;
  border: #999 solid 2px;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  margin-left: 4%;
  resize: none;
  outline: none;
  height: 300px;
  font-size: 16px;
  font-family: inherit;
  width: 600px;
  background-color: #121212;
  border-radius:10px;
}