<div class="rectangle-202">
  <div class="section account-suggestions">
    <div class="title">Account suggestions</div>
    <div class="item">
      <input type="radio" id="account-off" name="account" class="circle">
      <label for="account-off" class="status">Off</label>
    </div>
    <div class="item">
      <input type="radio" id="account-on" name="account" class="circle">
      <label for="account-on" class="status">On</label>
    </div>
  </div>

  <div class="section trending-places">
    <div class="title">Trending Places</div>
    <div class="item">
      <input type="radio" id="places-off" name="places" class="circle">
      <label for="places-off" class="status">Off</label>
    </div>
    <div class="item">
      <input type="radio" id="places-on" name="places" class="circle">
      <label for="places-on" class="status">On</label>
    </div>
  </div>

  <div class="section reminders">
    <div class="title">Reminders</div>
    <div class="item">
      <input type="radio" id="reminders-off" name="reminders" class="circle">
      <label for="reminders-off" class="status">Off</label>
    </div>
    <div class="item">
      <input type="radio" id="reminders-on" name="reminders" class="circle">
      <label for="reminders-on" class="status">On</label>
    </div>
  </div>
</div>