/* Main content styles */

.main-content {
  margin-left: 15%;
  /* Adjust margin-left to 15% */
  width: 80%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
}


/* Ad container styles */
.ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  /* Default padding for small screens */
}

.ad-container img {
  width: 100%;
  height: auto;
  max-width: 600px;
  /* Adjust as needed */
  max-height: 200px;
  /* Adjust as needed */
}

@media (min-width: 960px) {
  .ad-container {
    padding-right: 40px;
    /* Add 20px padding on the right for larger screens */
  }
}

.upcomingEventsText {
  position: absolute;
  width: 424px;
  height: 46px;
  left: calc(50% - 424px/2 - 204px);
  top: 170px;

  font-family: 'League Spartan'; font-style: normal; font-weight: 600;
  font-size: 45px;
  line-height: 46px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;
}

.upcomingEventsTexts {
  position: absolute;
  width: 424px;
  height: 46px;
  left: calc(50% - 424px/2 - 204px);
  top: 170px;

  font-family: 'League Spartan'; font-style: normal; font-weight: 600;
  font-size: 45px;
  line-height: 46px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
  align-items: center;
  /* Adjust as needed */

}

.cardalign {
  margin-left: 17%;
  /* Adjust margin-left to 15% */
  width: 80%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
  margin-top: 2%;
}

.custom-card {
  /* Remove position: absolute */
  width: 17vw;
  height: 187px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 33.19%,
      rgba(0, 0, 0, 0) 33.19%,
      rgba(0, 0, 0, 0.9) 84.7%,
      #000000 97.39%),
    ;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  position: relative;
  /* Ensure the text is positioned relative to the card */
}

.custom-card ion-card-content {
  padding: 0;
  position: relative;
  /* Ensure the text is positioned relative to the card content */
}

.custom-card ion-card-content::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.97;
  z-index: 1;
}

.custom-card ion-card-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33.19%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.97;
  z-index: 1;
}

.card-text {
  text-align: left;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  color: white;
  position: absolute;
  /* bottom: -75px; */
  margin-top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* text-align: center; */
}
