<ion-content *ngIf="!isLoading">
  <ion-grid class="main-content">


    <ion-row>
      <ion-col class="ad-container">
        <img src="assets/Images/sterkinikor.jpg" alt="Ad Image" />
      </ion-col>
      <ion-col size="12" size-md="6" class="ad-container">
        <img src="assets/Images/rocomammas-1.jpg" alt="Ad Image" />
      </ion-col>
    </ion-row>

    <h1>Upcomming Events</h1>


  </ion-grid>
  <ion-grid class="cardalign">
    <ion-row>
      <ion-col size="4">
        <ion-card class="explore-card">
          <img src="assets/Images/CottonFest.png" />
          <div class="gradient-overlay"></div>
          <div class="card-title">
            Cotton Fest
            <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="explore-card">
          <img src="assets/Images/addrenaline.jpg" />
          <div class="gradient-overlay"></div>
          <div class="card-title">
            Mountain Deck
            <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="explore-card">
          <img src="assets/Images/Chess.jpeg" />
          <div class="gradient-overlay"></div>
          <div class="card-title">
            Chess ground
            <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

        <h1>Places you may like</h1>

  </ion-grid>





  <ion-grid class="cardalign">
    <ion-row>
      <app-event-card *ngFor="let item of events" [event]="item" bgColor="{{color}}"
        (click)="navpage('/user/activity', item.Id)"></app-event-card>
      <!-- </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12"> -->

    </ion-row>


  </ion-grid>

</ion-content>

  <div class="loader" *ngIf="isLoading">
    <div data-glitch="Loading..." class="glitch">Loading...</div>
  </div>
