/* Main content styles */

.main-content {
  margin-left: 15%;
  /* Adjust margin-left to 15% */
  width: 80%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
}


/* Ad container styles */
.ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  /* Default padding for small screens */
}

.ad-container img {
  width: auto;
  height: auto;
  max-width: 600px;
  /* Adjust as needed */
  max-height: 200px;
  /* Adjust as needed */
}

@media (min-width: 960px) {
  .ad-container {
    padding-right: 40px;
    /* Add 20px padding on the right for larger screens */
  }
}

.upcomingEventsText {
  position: absolute;
  width: 424px;
  height: 46px;
  left: calc(50% - 424px/2 - 204px);
  top: 170px;

  font-family: 'League Spartan'; font-style: normal; font-weight: 600;
  font-size: 45px;
  line-height: 46px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;
}

.upcomingEventsTexts {
  position: absolute;
  width: 424px;
  height: 46px;
  top: 170px;

  font-family: 'League Spartan'; font-style: normal; font-weight: 600;
  font-size: 45px;
  line-height: 46px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
  align-items: center;
  /* Adjust as needed */

}

.cardalign {
  margin-left: 17%;
  /* Adjust margin-left to 15% */
  width: 80%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
  margin-top: 2%;
}

.custom-card {
  /* Remove position: absolute */
  width: 17vw;
  height: 187px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 33.19%,
      rgba(0, 0, 0, 0) 33.19%,
      rgba(0, 0, 0, 0.9) 84.7%,
      #000000 97.39%),
    ;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  position: relative;
  /* Ensure the text is positioned relative to the card */
}

.custom-card ion-card-content {
  padding: 0;
  position: relative;
  /* Ensure the text is positioned relative to the card content */
}

.custom-card ion-card-content::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.97;
  z-index: 1;
}

.custom-card ion-card-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33.19%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.97;
  z-index: 1;
}

.card-text {
  text-align: left;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  color: white;
  position: absolute;
  /* bottom: -75px; */
  margin-top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* text-align: center; */
}

.explore-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.explore-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  border-radius: 10px;
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  font-size: 24px;
}

.explore-card:hover {
  transform: scale(1.05);
}

.explore-card:hover .arrow-icon {
  opacity: 1;
}

@media (max-width: 767px) {
  ion-col[size="4"] {
    --ion-grid-column-size: 50%;
  }

  .arrow-icon {
    opacity: 1;
  }

  .main-content {
    margin-bottom: 20%;
  }
}


.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes shift {

  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
