<div class="main-content">
  <ion-content>
    <div class="search-bar">
      <ion-searchbar placeholder="What do you want to explore ?"
     (ionInput)="serach($event)">
    </ion-searchbar>
    <div class="cardContainer">
      <app-event-card *ngFor="let item of events" [event]="item"></app-event-card>
    </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory', 'Adrenaline')" >
            <img src="assets/Images/addrenaline.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Adrenaline
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory', 'Night life')">
            <img src="assets/Images/nightlife.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Night Life
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory','Outdoors')">
            <img src="assets/Images/outdoors.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Outdoors
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory','Sight Seeing')">
            <img src="assets/Images/sightseeing.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Sight Seeing
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory','All')">
            <img src="assets/Images/all.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              All
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory','Date Night')">
            <img src="assets/Images/date.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Date Night
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory', 'Adventure')">
            <img src="assets/Images/adventure.jpeg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Adventure
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" >
          <ion-card class="explore-card" (click)="navpage('/user/individualCategory', 'Family Friendly')">
            <img src="assets/Images/family.jpg" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Family Friendly
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" (click)="navpage('/user/individualCategory', 'Fitness')">
          <ion-card class="explore-card">
            <img src="assets/Images/fitness.png" />
            <div class="gradient-overlay"></div>
            <div class="card-title">
              Fitness
              <ion-icon name="arrow-forward-circle-outline" class="arrow-icon"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>





  </div>


