<div class="main-content">
  <h1>Create an Event.</h1>
  <div class="wrapper">
    <div class="card-container">
      <div class="box left-box">
        <form>
          <div class="input-container">
            <label for="eventName">Event Name*</label>
            <input type="text" id="eventName" [(ngModel)]="eventName" name="eventName" placeholder="Top Events e.g">
          </div>

          <div class="input-container">
            <label for="startDate">Start Date*</label>
            <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate">
          </div>
          <div class="input-container">
            <label for="endDate">End Date*</label>
            <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate">
          </div>


          <div class="input-container">
            <label for="hours">Operating Hours*</label>
            <div class="dropdown-container">
              <div class="dropdown">
                <label for="weekdayHours">Weekday Hours</label>
                <select id="weekdayHours" [(ngModel)]="weekdayHours" name="weekdayHours">
                  <option value="9am-5pm">9am-5pm</option>
                  <option value="10am-6pm">10am-6pm</option>
                  <option value="11am-7pm">11am-7pm</option>
                </select>
              </div>
              <div class="dropdown">
                <label for="weekendHours">Weekend Hours</label>
                <select id="weekendHours" [(ngModel)]="weekendHours" name="weekendHours">
                  <option value="9am-5pm">9am-5pm</option>
                  <option value="10am-6pm">10am-6pm</option>
                  <option value="11am-7pm">11am-7pm</option>
                </select>
              </div>
              <div class="dropdown">
                <label for="holidayHours">Public Holiday Hours</label>
                <select id="holidayHours" [(ngModel)]="holidayHours" name="holidayHours">
                  <option value="9am-5pm">9am-5pm</option>
                  <option value="10am-6pm">10am-6pm</option>
                  <option value="11am-7pm">11am-7pm</option>
                </select>
              </div>
            </div>
          </div>


          <div class="input-container">
            <label for="location">Location</label>
            <input type="text" id="location" [(ngModel)]="location" name="location" placeholder="---Location---">
          </div>

          <div class="input-container">
            <label for="description">Event Description</label>
            <textarea id="description" class="description-textarea" [(ngModel)]="description" name="description"
              placeholder="Provide a short description"></textarea>
          </div>

          <div class="input-container">
            <label for="bookingRequired">Booking Required?</label>
            <label class="switch">
              <input type="checkbox" id="bookingRequired" [(ngModel)]="bookingRequired" name="bookingRequired">
              <span class="slider"></span>
            </label>
          </div>
        </form>
      </div>

      <div class="box right-box">
        <form>
          <div class="input-container">
            <label for="minPrice">Min Price*</label>
            <input type="number" id="minPrice" [(ngModel)]="minPrice" name="minPrice" placeholder="200">
          </div>

          <div class="input-container">
            <label for="maxPrice">Max Price*</label>
            <input type="number" id="maxPrice" [(ngModel)]="maxPrice" name="maxPrice" placeholder="400">
          </div>

          <div class="input-container">
            <label for="publicCell">Public Cell*</label>
            <div class="input-with-icon">
              <span class="icon">
                <img src="assets/south-africa.png" alt="flag icon" />
              </span>
              <input type="tel" id="publicCell" [(ngModel)]="publicCell" name="publicCell" placeholder="011 056 0667">
            </div>
          </div>

          <div class="input-container">
            <label for="publicEmail">Public Email</label>
            <input type="email" id="publicEmail" [(ngModel)]="publicEmail" name="publicEmail"
              placeholder="info@jodoe.co.za">
          </div>

          <div class="input-container">
            <label for="link">Link</label>
            <input type="url" id="link" [(ngModel)]="link" name="link" placeholder="website Link">
          </div>

          <div class="upload-btn-container">
            <label for="uploadPhotos">Upload Photos</label>
            <input style="margin-left: 2rem;" type="file" id="uploadPhotos" (change)="onFileSelected($event)" multiple>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="btn-upload-ad">
    <button type="submit" (click)="onSubmit()">Confirm</button>
  </div>
</div>
