.main-content {
  margin-left: 15%;
  /* Adjust margin-left to 15% */
  width: 70%;
  /* Adjust width to 70% */
  float: right;
  /* Float content to the right */
}

/* Add any additional styles for main content */
