<div class="rectangle-202">
  <div>
    <img class="profile-picture" src="profile-picture-url" alt="Profile Picture" />
  </div>
  <div class="cardformInputs">
    <div class="form-group">
      <p>User Name</p>
      <input type="text" placeholder="Enter your name" [(ngModel)]="username" name="username" />
    </div>
    <div class="form-group">
      <p>Email</p>
      <input type="text" placeholder="Enter your email" [(ngModel)]="email" name="email" />
    </div>
    <div class="form-group">
      <p>New Password</p>
      <div class="password-wrapper">
        <input type="password" placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword"
          id="newPassword" />
        <i class="eye-icon" (click)="togglePasswordVisibility('newPassword')"></i>
      </div>
    </div>
    <div class="form-group">
      <p>Confirm New Password</p>
      <div class="password-wrapper">
        <input type="password" placeholder="Confirm new password" [(ngModel)]="confirmNewPassword"
          name="confirmNewPassword" id="confirmNewPassword" />
        <i class="eye-icon" (click)="togglePasswordVisibility('confirmNewPassword')"></i>
      </div>
    </div>
    <button (click)="updateProfile()">Update Profile</button>
  </div>
</div>