<link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>

<div class="main-content container">
  <div class="navBar">
    <img (click)="navpage('/main/landing')" id="img" src="../../assets/Logo.png">
    <nav class="nav-buttons">
      <a (click)="navpage('/main/about')" class="nav-button" expand="block">About</a>
      <a  class="nav-button" expand="block">Are you a Buisness</a>
      <a  class="nav-button" (click)="openModal()" expand="block">Login</a>
    </nav>
  </div>

  <div class="Contentbox">
    <h1>Discover and Experience <br>the hidden gems right <br>at your fingertips.</h1>
    <h6>"We find... U Explore!"</h6>
    <button class="button" id="open-modal" expand="block">SIGN UP</button>
  </div>
</div>

<!-- Registration Model -->
<div class="modal-overlay" [ngClass]="{'show': isRegistrationModelOpen}" (click)="closeRegModel()">
  <div class="modal" [ngClass]="{'show': isRegistrationModelOpen}" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <button class="close-btn" (click)="closeRegModel() ">X</button>
    </div>
    <div class="modal-content">
      <h2>Register</h2>
      <div class="inputscon">
        <input class="input" placeholder="Username" type="text" />
        <input class="input" placeholder="Email" type="email" />
        <input class="input" placeholder="Password" type="password" />
        <input class="input" placeholder="Confirm Password" type="password" />
        <button class="sign-in-btn" (click)="openInterestsModel()">Confirm</button>
        <a  style="text-align: center;" (click)="openModal()" class="forgot-password">Already Registered</a>
      </div>
    </div>
  </div>
</div>

<!-- Interests Model -->
<div class="modal-overlay" [ngClass]="{'show': isInterestsModelOpen}" (click)="closeInterestsModel()">
  <div class="modal" [ngClass]="{'show': isInterestsModelOpen}" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <button class="close-btn" (click)="closeInterestsModel() ">X</button>
    </div>
    <div class="modal-content">
      <h2>What are your Interests</h2>
      <div class="checkboxes">
        <div class="checkItem" *ngFor="let interest of interests; let i = index">
          <label class="container">

            <input class="checkmark" type="checkbox" [checked]="toggleInterest(interest)"
              (change)="toggleInterest(interest)">
            <span class="checkmark"></span>
            {{ interest.name }}
          </label>
        </div>
      </div>
      <div class="inputscon">
        <button class="sign-in-btn" (click)="openInterestsModel()">Confirm</button>
      </div>


    </div>
  </div>
</div>


<!-- Login Modal -->
<div class="modal-overlay" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <button class="close-btn" (click)="closeModal()">X</button>
    </div>
    <div class="modal-content">
      <h2>Login</h2>
      <div class="inputscon">
        <input class="input" placeholder="Email" type="email" />
        <input class="input" placeholder="Password" type="password" />
        <a class="forgot-password">Forgot Password?</a>
        <button class="sign-in-btn" (click)="navpage('/user/home')">Sign In</button>
        <a  (click)="openRegModel()" style="text-align: center;" class="forgot-password">Don't have an account?</a>
      </div>
      <div class="separator">
        <span>--------------------------------- OR ---------------------------------</span>
      </div>
    </div>
  </div>
</div>

