<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/83ac91e5-6b82-40e5-9909-bc0bcf7bb78b/resourceGroups/UxploreAPI20240619180110ResourceGroup/providers/Microsoft.Web/sites/UxploreAPI20240619180110</ResourceId>
    <ResourceGroup>UxploreAPI20240619180110ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/83ac91e5-6b82-40e5-9909-bc0bcf7bb78b/resourceGroups/UxploreAPI20240619180110ResourceGroup/providers/Microsoft.ApiManagement/service/UxploreAPIapi/apis/UxploreAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uxploreapi20240619180110.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0758eac1-2071-4d5b-aa1d-562fc8ef169c</ProjectGuid>
    <MSDeployServiceURL>uxploreapi20240619180110.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UxploreAPI20240619180110</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UxploreAPI20240619180110</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>